@font-face {
  font-family: "iconfont"; /* Project id 2628059 */
  src: url('iconfont.woff2?t=1624426538400') format('woff2'),
       url('iconfont.woff?t=1624426538400') format('woff'),
       url('iconfont.ttf?t=1624426538400') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-ashbin:before {
  content: "\e666";
}

.icon-arrow-right:before {
  content: "\e667";
}

.icon-bad:before {
  content: "\e668";
}

.icon-attachment:before {
  content: "\e669";
}

.icon-close:before {
  content: "\e66a";
}

.icon-comment:before {
  content: "\e66b";
}

.icon-complete:before {
  content: "\e66c";
}

.icon-chart-pie:before {
  content: "\e66d";
}

.icon-data-view:before {
  content: "\e66e";
}

.icon-download:before {
  content: "\e66f";
}

.icon-edit:before {
  content: "\e670";
}

.icon-favorite:before {
  content: "\e671";
}

.icon-fabulous:before {
  content: "\e672";
}

.icon-filter:before {
  content: "\e673";
}

.icon-good:before {
  content: "\e674";
}

.icon-menu:before {
  content: "\e677";
}

.icon-loading:before {
  content: "\e676";
}

.icon-notification:before {
  content: "\e679";
}

.icon-more:before {
  content: "\e67a";
}

.icon-navigation:before {
  content: "\e67b";
}

.icon-prompt:before {
  content: "\e67c";
}

.icon-refresh:before {
  content: "\e67d";
}

.icon-picture:before {
  content: "\e67e";
}

.icon-save:before {
  content: "\e67f";
}

.icon-search:before {
  content: "\e680";
}

.icon-share:before {
  content: "\e681";
}

.icon-sign-out:before {
  content: "\e682";
}

.icon-select:before {
  content: "\e683";
}

.icon-success:before {
  content: "\e684";
}

.icon-smile:before {
  content: "\e685";
}

.icon-setting:before {
  content: "\e686";
}

.icon-user:before {
  content: "\e687";
}

.icon-upload:before {
  content: "\e688";
}

.icon-select-bold:before {
  content: "\e689";
}

.icon-notification-filling:before {
  content: "\e68b";
}

.icon-user-filling:before {
  content: "\e68c";
}

.icon-setting-filling:before {
  content: "\e68d";
}

.icon-success-filling:before {
  content: "\e68e";
}

