<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>技转党建小助手管理员</title>
    <link rel="stylesheet" href="../static/admin/style.css" no-repeat >
</head>
<body>
<div class="container">
<div class="login">
    <h1>登陆</h1>
    <form action="login">
        <div class="inputbox">
            <input type="text" placeholder="用户名">
        </div>
        <div class="inputbox">
            <input type="password" placeholder="密码">
        </div class="inputbox">
        <div class="inputbox">
            <div class="operate">
                <button class="submit" type="submit" >确  认</button>
                <a href="#">忘记密码</a>
            </div>

        </div>

        <p>
        </p>
    </form>
</div>
    </div>

</body>
</html>